In [9]:
#Importing data
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor

import warnings

In [2]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.5-cp38-cp38-macosx_11_0_universal2.whl.metadata (1.2 kB)
Collecting graphviz (from catboost)
  Downloading graphviz-0.20.3-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: matplotlib in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from catboost) (3.7.5)
Requirement already satisfied: numpy>=1.16.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from catboost) (1.24.4)
Requirement already satisfied: pandas>=0.24 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from catboost) (2.0.3)
Requirement already satisfied: scipy in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from catboost) (1.10.1)
Collecting plotly (from catboost)
  Downloading plotly-5.22.0-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: six in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from pandas>=0.24->catboost) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (3.1.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from matplotlib->catboost) (6.4.0)
Collecting tenacity>=6.2.0 (from plotly->catboost)
  Using cached tenacity-8.5.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: zipp>=3.1.0 in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.19.2)
Downloading catboost-1.2.5-cp38-cp38-macosx_11_0_universal2.whl (26.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.3/26.3 MB 6.9 MB/s eta 0:00:0000:0100:01
Downloading graphviz-0.20.3-py3-none-any.whl (47 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.1/47.1 kB 1.7 MB/s eta 0:00:00
Downloading plotly-5.22.0-py3-none-any.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 6.9 MB/s eta 0:00:0000:0100:01
Using cached tenacity-8.5.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, graphviz, plotly, catboost
Successfully installed catboost-1.2.5 graphviz-0.20.3 plotly-5.22.0 tenacity-8.5.0

In [27]:
pip install xgboost

Requirement already satisfied: xgboost in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (2.1.0)
Requirement already satisfied: numpy in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from xgboost) (1.24.4)
Requirement already satisfied: scipy in /Users/swativerma/Documents/ML_Projects/venv/lib/python3.8/site-packages (from xgboost) (1.10.1)
Note: you may need to restart the kernel to use updated packages.

In [12]:
df = pd.read_csv('stud.csv')

In [13]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# preparing x and y variables x will be everything apart from math score and y will be math score

In [14]:
X = df.drop(columns=['math_score'],axis=1)

In [15]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [16]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [17]:
y = df['math_score']

In [18]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [19]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [20]:
X = preprocessor.fit_transform(X)

In [21]:
X.shape

(1000, 19)

In [22]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

Create an Evaluate Function to give all metrics after model Training

In [23]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [26]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

NameError: name 'XGBRegressor' is not defined